/*-------------------------------------- Fonts Starts -------------------------------------*/
$font-type-1: "Poppins", sans-serif !important;
// $font-type-2: 'Arial';
/*--------------------------------------- Fonts Ends --------------------------------------*/

/*------------------------------------- Colors Starts -------------------------------------*/
$primary-color: #00a8ff;
$secondary-color: #092648;
$shades-tints: #2b81c4;
$whisper: #e5e5e5;
/*-------------------------------------- Colors Ends --------------------------------------*/

/*-------------------------------------- Mixins Starts ------------------------------------*/

/*--------------------------------------- Mixins Ends -------------------------------------*/
